<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students and Teachers</title>
</head>
<body>
    <h1>Students List</h1>
    <ul>
        {% for student in student_list %}
            <li>{{ student.name }} </li>
        {% endfor %}
    </ul>

    <h1>Teachers List</h1>
    <ul>
        {% for teacher in teacher_list %}
            <li>{{ teacher.name }} </li>
        {% endfor %}
    </ul>
</body>
</html>